{% extends 'base.html' %}
{% block content %}

<div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Order Summary</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active">Order Summary </li>
                    </ul>
                </div>
            </div>
        </div>
   </div>

<div class="container text-center mt-3">
<h3>Name of the customer: {{user.username}}</h3>
</div>

{% for i in orders %}
    {% for j in i.items.all %}
        <div class="card mb-3 mx-auto mt-3" style="max-width: 700px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{j.product.image.url}}" class="rounded-start p-3" height="150px" width="100%" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title fs-5"><b>Product Name: {{j.product.name}}</b></h5>
                <p class="card-text">Quantity: {{j.quantity}}</p>
                <p class="card-text">Price: {{j.product.price}}</p>
                <p class="card-text">Order ID: {{i.order_id}}</p>
                <p class="card-text">Ordered Date: {{i.ordered_date}}</p>
                <p class="card-text">Delievery Status: {{i.delivery_status}}</p>

              </div>
            </div>
          </div>
        </div>
    {% endfor %}
{% endfor %}

{% endblock %}